<div class="login-container">
  <div class="login-content">
    <!-- <% if (locals.success) { %>
    <main><%- include('partials/success.ejs'); %></main>
    <% } %> <% if (locals.errors) { %>
    <main><%- include('partials/errors.ejs'); %></main>
    <% } %> -->
    <div class="container text-center">
      <img
        src="../../../assets/iniciar-sesion2.png"
        width="100"
        height="100"
        alt=""
      />
    </div>
    <!-- <p class="text-center">
        <i class="fas fa-user-circle fa-5x"></i>
      </p> -->
    <p class="text-center">Inicia sesión con tu cuenta</p>
    <form action="/enter" method="POST" autocomplete="off">
      <div class="form-group">
        <label for="UserName" class="bmd-label-floating"
          ><i class="fas fa-user-secret"></i> &nbsp; Usuario</label
        >
        <input
          type="text"
          class="form-control"
          id="UserName"
          name="usuario_log"
          pattern="[a-zA-Z0-9]{1,35}"
          maxlength="35"
          required=""
        />
      </div>
      <div class="form-group">
        <label for="UserPassword" class="bmd-label-floating"
          ><i class="fas fa-key"></i> &nbsp; Contraseña</label
        >
        <input
          type="password"
          class="form-control"
          id="UserPassword"
          name="clave_log"
          pattern="[a-zA-Z0-9$@.-]{1,100}"
          maxlength="100"
          required=""
        />
      </div>
      <button type="submit" class="btn-login text-center">LOG IN</button>
    </form>
    <a href="/register">Crear cuenta</a><br /><a
      href="http://localhost:5000/api/v1/docs/#/"
      target="_blank"
      >swagger</a
    >
  </div>
</div>
