<div class="body">
  <h2 id="name" value="leo">b</h2>
  <pre id="id" value="a" hidden> a </pre>
  <pre id="pass" value="c" hidden> c </pre>
  <pre id="username" value="d" hidden> d </pre>
  <title>d</title>
  <input id="name" name="player" type="hidden" value="b" />
  <input id="active" name="active" type="hidden" type="text" value="a" />

  <div class="container fullContainer">
    <div class="play">
      <a
        ID="playBtn"
        value="Jugar"
        class="btn btn-success"
        style="--clr: #04fc43"
        >jugar</a
      >

      <div id="time" class="animate__animated animate__rotateIn" type="hidden">
        <div class="circle" style="--clr: #04fc43">
          <div cLass="dots sec_dot"></div>
          <svg>
            <circle cx="70" cy="70" r="70"></circle>
            <circle cx="70" cy="70" r="70" id="ss"></circle>
          </svg>
          <div id="seconds">00</div>
        </div>
      </div>
    </div>

    <div class="containerlobby">
      <div class="chat">
        <h2>b</h2>

        <div class="col-sm-9">
          <form>
            <label class="form-label">Mensaje</label>
            <input type="text" id="texto" name="texto" class="form-control" />
            <button type="submit" id="enviar" class="btn btn-primary mt-2">
              Enviar
            </button>
          </form>
        </div>

        <div class="">
          <label class="form-label">Lobby</label>
          <textarea
            id="msj"
            rows="10"
            cols="10"
            class="form-control"
            readonly="readonly"
          ></textarea>
        </div>
      </div>

      <div class="playerlist">
        <div class="list-group">
          <button type="button" class="list-group-item list-group-item-action">
            Cras justo odio
          </button>
          <button type="button" class="list-group-item list-group-item-action">
            Dapibus ac facilisis in
          </button>
          <button
            type="button"
            class="list-group-item list-group-item-action active"
          >
            Morbi leo risus
          </button>
          <button type="button" class="list-group-item list-group-item-action">
            Porta ac consectetur ac
          </button>
          <button
            type="button"
            class="list-group-item list-group-item-action"
            disabled
          >
            Vestibulum at eros
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
