body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: var(--lobyBackground);
  color: var(--white);
  display: block;
  overflow: auto;
}
button.playBtn {
  background-color: var(--greenPlay);
}
button.playBtn:hover {
  background-color: var(--btn-playHover);
}
/* cronometro */
#time {
  color: #fff;
}
#time .circle {
  position: relative;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#time .circle svg {
  position: relative;
  width: 150px;
  height: 150px;
  transform: rotate(270deg);
}
#time .circle svg circle {
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke: #191919;
  stroke-width: 4;
  transform: translate(5px, 5px);
}
#time .circle svg circle:nth-child(2) {
  stroke: var(--clr);
  stroke-dasharray: 440;
}

#time div {
  position: absolute;
  text-align: center;
  font-weight: 500;
  font-size: 1.5em;
}
#time div span {
  position: absolute;
  transform: translateX(-54%) translatey(-10px);
  font-size: 0.55em;
  font-weight: 300;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

#time .ap {
  position: relative;
  /*font: 1em;*/
  transform: translateX(-20px);
}
.dots {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
}
.dots::before {
  content: " ";
  position: absolute;
  width: 15px;
  height: 15px;
  background: var(--clr);
  border-radius: 50%;
  box-shadow: 0 0 20px var(--clr), 0 0 60px var(--clr);
}
/* fin cronometro */

section {
  height: auto;
}

.fullcontainer {
  /* background: #04fc43; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
  width: 90vw;
  min-height: 70vh;
}
.containerLeft {
  /* background-color: red; */
  width: 45vw;
  height: 65vh;
}
.containerRight {
  /* background-color: blue; */
  width: 40vw;
  height: 65vh;
}

/*    Trancision eje */
div.ejem {
  transition: all linear 0.5s;
  background-color: lightblue;
  height: 100px;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
}

.ng-hide {
  height: 0;
  width: 0;
  background-color: transparent;
  top: -200px;
  left: 200px;
}
mat-card {
  background: #2f363e;
}
/* *** */
.cronometro {
  display: grid;
  place-items: center;
}
